body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: black;
}

h1 {
    font-family: "Karla", sans-serif;
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
}

#title-header {
    color: #4ADF86;
}

h2 {
    color: #D5D4D8;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
}

#container {
    color: #D5D4D8;
    background: #1F2937;
    height: 650px;
    width: 550px;
    padding-top: 15px;
    padding-left: 52px;
    margin: 0 auto;
}

.password-description {
    width: 150px;
}

input[type='checkbox'] {
    margin: 0 10px;
}

#password-length {
    width: 100px;
}

#password-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 290px;
}

#value {
    margin-left: 10px;
}

.options {
    margin: 15px 0;
    display: flex;
}

#generate-btn {
    width: 191px;
    height: 42px;
    color: white;
    font-size: 16px;
    background: #10B981;
    padding: 9px 16px;
    margin: 35px 0;
}

button {
    font-weight: 500;    
    border-radius: 6px;
    border: none;
}

#line {
    background: #2F3E53;
    width: 446px;
    height: 1px;
    margin-bottom: 35px;
}

.password {
    background: #273549;
    color: #55F991;
    font-size: 16px;
    width: 446px;
    height: 39px;
    margin-bottom: 10px;
}

#password-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 446px;
}